
<table style = "margin-left: 500px;">
    <!--<th>id</th>
    <th>Detail</th> 
    <th>Body</th>-->
    <%# @pages.each do |page| %>
        <td><%#= page.id%></td>
        <td><%#= page.title%></td>
        <td><%#= page.body%></td>
    <%# end %>
</table>


<div>
              <div class="single_post_content">
                <ul class="spost_nav">
                <% @pages.each do |page| %>
                  <li>
                    <div class="media wow fadeInDown"> <a href="#" class="media-left"> <img alt="" src="images/post_img1.jpg"> </a>
                      <div class="media-body"> <a href="#" class="catg_title"> <%= page.title%></a> </div>
                      <div class="media-body"> <a href="#" class="catg_title"> <%=link_to page.body%></a> </div>
                    </div>
                  </li>
                <% end %>
                </ul>
              </div>
            </div>