

<% @pages.each do |page| %>
          <div style = 'padding:20px;' >
              <div style=' max-width: 100%!important; border-style:groove;
padding: 14px;
background-color: #d1e7f4;' class="single_post_content">
                <ul class="spost_nav">
                
                  <li>
                    <div class="media wow fadeInDown"> <a href="#" class="media-left"> <img alt="gggg" width='100% !important' src=" <%= page.image.url %>"> </a>
                      <div class="media-body"> <a href="#" class="catg_title"> <%= link_to page.title, page_path(page.id)%></a> </div>
                      <div class="media-body"> <a href="#" class="catg_title"> <%=link_to raw page.body%></a> </div>
                    </div>
                  </li>
                
                </ul>
              </div>
            </div>
            <% end %>