


<h1 style ="text-align: center;"><%= @category.name%></h1>




<% @pages.each do |page| %>
            <div class="media-body"> <a href="#" class="catg_title"> <%#=link_to raw page.body%></a></div>
          </div>
        </li>    
      </ul>
    </div>
  </div> 
  <div style='padding-top:15px; padding-bottom:15px;'>
<div class="card" style=' width:69%; margin:auto; '>
  <div class='row card-body'>
  <div class='col-md-4'>
  <img class='img-responsive' src="<%= page.image.url { link_to page_path(page.id)} %>" alt="Avatar">
  
  </div>
  <div class='col-md-8'>
  <div  class="container">
    <h4><b>   <%= link_to page.title, page_path(page.id)%> </b></h4>
    <p><%=link_to truncate(page.body, length: 70) { link_to 'Read More', page_path(page.id)}%></p> 
  </div>
  </div>
  </div>
</div>
</div>
<% end %>