<h1>Oau Events</h1>

<% @mainE.each do |oaue| %>
            <div class="media-body"> <a href="#" class="catg_title"> <%#=link_to raw page.body%></a></div>
          </div>
        </li>    
      </ul>
    </div>
  </div> 
  <div style='padding-top:15px; padding-bottom:15px;'>
<div class="card" style=' width:69%; margin:auto; '>
  <div class='row card-body'>
  <div class='col-md-4'>
  <img class='img-responsive' src="<%#= oaue.image.url { link_to oaue_path(pagoauee.id)} %>" alt="Avatar">
  
  </div>
  <div class='col-md-8'>
  <div  class="container">
    <h4><b>   <%= link_to oaue.title, oaue_path(oaue.id)%> </b></h4>
    <p><%=link_to truncate(oaue.body, length: 70) { link_to 'Read More', oaue_path(oaue.id)}%></p> 
  </div>
  </div>
  </div>
</div>
</div>
<% end %>