<section id="contentSection">
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12">
        <div class="left_content">
          <div class="single_page">
            <h1><%= raw @oaue.title%></h1>
            <div class="single_page_content"> <img class="img-center" src="<%= @oaue.image.url %>" alt="">
              <%= raw @oaue.body%>
              #<%= raw @oaue.price%>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>