<div class="slick_slider">
    <% @headCarousel.each do |carousel| %>
        <div class="single_iteam"> <a href="#"> <%= image_tag carousel.image.url %> </a>
            <div class="slider_article">
                <h2><a class="slider_tittle" href="#"><%= carousel.title %></a></h2>
                <p><%= link_to carousel.body %></p>
            </div>
        </div>
    <% end %>      
</div>