<footer id="footer">
  <div class="footer_bottom">
    <div>
          <%# <h3 style ="text-align:center;">Contact Us</h3> %>
          <p style ="text-align:center;">Visit us at our Work Station</p>
          <address style ="text-align:center;">Infinity Prints, Adekunle Fajuyi Hall Annex Car Park, Obafemi Awolowo University, Ile-Ife, Osun State, Nigeria.</address>
        </div>
    <p class="copyright">Copyright &copy; 2018 <a href="#">GreatIfe</a></p>
    <p class="developer"><a href="#">Developed By iVhins fx & Omis</a></p>
  </div>
</footer>